<div class="d-flex flex-column justify-content-between align-items-center vh-100 py-3 bg-white border-end shadow-sm if-sidebar">
    <!-- Top icon (logo) -->
    <div>
      <div class=" bg-gradient p-2 shadow-sm if-logo mb-3">
        <img src="../../assets/logo.png" alt="Logo" class="if-logo-img" />
      </div>

       <!-- Middle icons -->
    <div class="nav flex-column align-items-center gap-4">
        <button class="btn btn-link p-0 text-secondary" title="Home">
          <i class="bi bi-house-door"></i>
        </button>
        <button class="btn btn-link p-0 text-dark bg-light rounded" title="Dashboard">
          <i class="bi bi-bar-chart-line"></i>
        </button>
        <button class="btn btn-link p-0 text-secondary" title="Layers">
          <i class="bi bi-layers"></i>
        </button>
        <button class="btn btn-link p-0 text-secondary" title="Checklist">
          <i class="bi bi-check-square"></i>
        </button>
        <button class="btn btn-link p-0 text-secondary" title="Analytics">
          <i class="bi bi-pie-chart"></i>
        </button>
        <button class="btn btn-link p-0 text-secondary" title="Users">
          <i class="bi bi-people"></i>
        </button>
      </div>
    </div>
  
   
  
    <!-- Bottom icons -->
    <div class="nav flex-column align-items-center gap-3">
      <button class="btn btn-link p-0 text-secondary" title="Support">
        <i class="bi bi-life-preserver"></i>
      </button>
      <button class="btn btn-link p-0 text-secondary" title="Settings">
        <i class="bi bi-gear"></i>
      </button>
      <img src="../../assets/user/avatar.png" alt="User" class="rounded-circle border border-white shadow-sm if-avatar"  />
    </div>
  </div>
  